<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world"/>
        <arg name="paused" value="true"/>
    </include>

    <param name="robot_description" textfile="$(find ardent_description)/urdf/ardent.urdf"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ardent_description)/urdf/ardent.urdf -urdf -z 0.3 -model ardent"/>

    <!-- <include file="$(find ardent_control)/launch/ardent_control.launch"/> -->
</launch>